<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>